body {
    background-image: url(../assets/star-wars-backgrounds-25_bc15ec98.jpeg);
    background-position: center;
    margin: 20px;
}

.pfp1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 5%;
}
.pfp2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.pfp3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.pfp4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
@font-face {
    font-family: 'StarJedi';
    src: url(../assets/fonts/Starjedi.ttf) format('truetype');
}

h1 {
    color: white;
    text-align: center;
    font-size: 500%;
}



p {
    color: white;
    font-size: 500%;
    font-family: 'StarJedi', sans-serif;
}


.star-wars-text {
    font-family: 'StarJedi', sans-serif;
}

