body {
    background-image: url(../assets/star-wars-background.jpeg);
    background-position: center;
    margin: 20px;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.pfp:hover {
    transform: scale(1.1); 
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
}

.image-with-label {
    text-align: center;
    color: #FFE81F;
    font-family: 'StarJedi', sans-serif;
    font-size: 1.2rem;
}

.label {
    margin-top: 10px;
}

@font-face {
    font-family: 'StarJedi';
    src: url(../assets/fonts/Starjedi.ttf) format('truetype');
}

h1 {
    color: #FFE81F;
    text-align: center;
    font-size: 500%;
    background-color: rgba(0, 0, 0, 0.3);
}

.intro {
    color: #FFE81F;
    font-size: 200%;
    font-family: 'StarJedi', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.click-here {
    color: #FFE81F;
    font-size: 120%;
    font-family: 'StarJedi', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}


.star-wars-text {
    font-family: 'StarJedi', sans-serif;
}

